
.about_section{
    position: relative;
    background-size: cover; 
    background-attachment: fixed;
    padding-top: 170px;
    padding-bottom: 90px;
}

.about_section .h3{
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 1;
}

.about_section .want{
    line-height: 0.25;
}

.about_section .wanted{
    line-height: 0.25;
}

.about_section .best{
    line-height: 0.25 !important;
}

.about_section .contact{
    line-height: 0.05;
}

.about_wrapper{
    background: darkgreen;
    padding-top: 70px;
    padding-bottom: 30px;
    color: white;
}

.about_box .about_icon img{
    max-width: 25%;
}

.about_box h4{
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.5008px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.about_box p{
    padding: 0 20px;
    color: white;
} 

@media (max-width:992px){
    .about_section .want{
        line-height: 0.1;
    }
    .about_section .chek{
        line-height: 0.1;
    }
    .about_section .wanted{
        line-height: 1;
    }
    .about_section .contact{
        line-height: 1;
    }
}